# vim files
*~
*.swp
.DS_Store

# gradle build files
build/
/build/
.gradle/*
buildSrc/.gradle
out/*
/out/
*/reports/
/target/
target/

# intellij files
*.iws
*.iml
*.ipr
*.ids
/.iws
/.ipr
.idea/
.ideaDataSources/
dataSources/

# eclipse files
.settings/
.classpath
.project
#bin/

# ansible
*.retry
.vault_pass.txt
*/rendered_templates
